<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Fortuna: Prenotazione</title> 
    <!--/*/ <th:block th:insert="fragments/general.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>
    <header th:insert="fragments/general.html :: header"> </header>
    <h1>Prenotazione</h1>
    <div>
        <h2>Dati:</h2>

        <div class="error" th:if="${error}" th:switch="${error}">
            <p th:case="'err-data'">
                Errore: prenotazioni disattivate nella data scelta
            </p>
            <p th:case="'err-database'">
                Errore: connessione al Database fallita
            </p>
            <p th:case="*">
                Errore sconosciuto
            </p>
        </div>

        <div id="dati">
            <form action="#" th:object="${datiPrenotazione}" method="POST">
                <label>Data e Ora</label>
                <input required type="date" th:field="*{data}">
                <input required type="time" th:field="*{ora}">

                <label>Telefono</label>
                <input required type="text" th:field="*{telefono}">

                <label>Nome</label>
                <input required type="text" th:field="*{nome}"><br>
                <label>Numero di persone</label>
                <input required type="number" th:field="*{numeroPersone}"><br>

                <button name="conferma" value="true">Conferma e effettua la prenotazione</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/general.html :: footer"></div> 
</body>
</html>