<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Fortuna: Ordinazione</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Ordinazione</h1>
    <p th:text="'Ordinazione scelta: ' + ${session.tipoOrdine}" />
    <div>
        <h2>Pagamento Online</h2>

        <p>
            Inserisci sotto i dati del pagamento. Non verrà trasferito denaro finchè non viene accettato l'Ordine.
            In caso di errore, dopo una settimana verrà annullata la transazione.
        </p>

        <h3 th:if="${error != null}" th:text="${error}" class="error"></h3>

        <form action='/pagamento' method='POST' id='checkout-form'>
            <input type='hidden' th:value='${amount}' name='amount' />
            <label th:if="${amount != amountOld}">Prezzo: <span class="discount-old" th:text='${amountOld/100}' /> <span class="discount" th:text='${amount/100}' /></label>
            <label th:if="${amount == amountOld}">Prezzo: <span th:text='${amount/100.0}' /></label>
            <script
               src='https://checkout.stripe.com/checkout.js' 
               class='stripe-button'
               th:attr='data-key=${stripePublicKey}, 
                 data-amount=${amount}, 
                 data-currency=${currency}'
               data-name='Fortuna'
               data-description='Pagamento ordine'
               data-image='logo-lowres.webp'
               data-locale='auto'
               data-zip-code='false'>
           </script>
        </form>

        <div id="carrello">
            <h3>Prodotti Scelti</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Prezzo</th>
                        <th>Descrizione</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="prodotto : ${session.prodotti}">
                        <td th:text="${prodotto.numero}">101</td>
                        <td th:text="${prodotto.nome}">Involtini Primavera</td>
                        <td th:text="${prodotto.prezzo}">1.50</td>
                        <td th:text="${prodotto.desc}">-</td>
                    </tr>
                    <tr>
                        <td colspan="4">--------</td>
                    </tr>
                    <!-- <tr>
                        <td colspan="2">Totale</td>
                        <td colspan="2" th:text="${totale}">19.60</td>
                    </tr> -->
                </tbody>
            </table>  
        </div>

        <div id="sconti">
            <h2>Sconti Disponibili</h2>
            <table>
                <thead>
                    <tr>
                        <th>Inizio</th>
                        <th>Fine</th>
                        <th>Quantità</th>
                        <th>Spesa Minima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sconto : ${scontiGen}">
                        <td th:text="${sconto.inizio.toLocalDate()}">2021-05-15</td>
                        <td th:text="${sconto.fine.toLocalDate()}">2021-07-15</td>
                        <td th:if="${sconto.quantita > 0}" th:text="${sconto.quantita + '€'}">1.50</td>
                        <td th:unless="${sconto.quantita > 0}" th:text="${sconto.quantitaPct * 100 + '%'}">25%</td>
                        <td th:text="${sconto.costoMinimo > 0 ? sconto.costoMinimo + '€' : ''}"></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="font-size: xx-large">..........</td>
                    </tr>        
                </tbody>
            </table>
            
            <h2>Sconti Disponibili su Prodotti</h2>
            <table>
                <thead>
                    <tr>
                        <th>Inizio</th>
                        <th>Fine</th>
                        <th>Prodotto</th>
                        <th>Quantità</th>
                        <th>Spesa Minima</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sconto : ${scontiProdotti}">
                        <span th:each="prodotto : ${sconto.perProdotti}">
                            <td th:text="${sconto.inizio.toLocalDate()}">2021-05-15</td>
                            <td th:text="${sconto.fine.toLocalDate()}">2021-07-15</td>
                            <td th:if="${sconto.quantita > 0}" th:text="${sconto.quantita + '€'}">1.50</td>
                            <td th:text="${prodotto.nome}">Involtini</td>
                            <td th:unless="${sconto.quantita > 0}" th:text="${sconto.quantitaPct * 100 + '%'}">25%</td>
                            <td th:text="${sconto.costoMinimo > 0 ? sconto.costoMinimo + '€' : ''}"></td>
                        </span>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-size: xx-large">..........</td>
                    </tr>        
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>