<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Fortuna: Ordinazione</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Ordinazione</h1>
    <div>
        <h2>Concluso!</h2>
        <p>Il tuo ordine verrà elaborato al momento richiesto, riceverai un SMS di conferma quando il personale lo avrà preso in carico.
        Puoi annullare l'ordine telefonando al numero del ristorante +39 123456789.</p>

        <p>Torna all'<a th:href="@{/}">inizio</a></p>
    </div>
</body>
</html>