<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Fortuna: Ordinazione</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Ordinazione</h1>
    <div>
        <h2>Indirizzo:</h2>

        <p class="error" th:if="${error}" th:text="${error}"></p>

        <p>Formato: <em>Via Numero, Città</em> dove città se non specificato è Bologna.</p>

        <form action="#" th:action="@{/ordine-indirizzo}" method="POST">
            <label>Indirizzo</label>
            <input type="text" name="indirizzo" th:value="${session.indirizzo}"> 
            <button>Conferma</button>
        </form>
    </div>
</body>
</html>