<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Fortuna: Ordinazione</title> 
    <!--/*/ <th:block th:insert="fragments/general.html :: headerfiles">
    </th:block> /*/-->
</head>
<body>
    <header th:insert="fragments/general.html :: header"> </header>
    <div class="w3-center w3-main w3-content">
        <h1>Ordinazione</h1>
        <p th:text="'Ordinazione scelta: ' + ${session.tipoOrdine}" />

        <h2>Scegli i prodotti:</h2>

        <div class="w3-row-padding">
            <div class="w3-twothird" id="menu">
                <h1>Menù</h1>
                <form action="#" th:action="@{/ordine-prodotti}" method="POST">
                    <table class="w3-table w3-striped">
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Nome</th>
                                <th>Prezzo</th>
                                <th>Descrizione</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="menu-body">
                            <tr th:each="prodotto : ${menu}" >
                                <td th:text="${prodotto.numero}">101</td>
                                <td th:text="${prodotto.nome}">Involtini Primavera</td>
                                <td th:text="${prodotto.prezzo + '€'}">1.50</td>
                                <td th:text="${prodotto.desc}">-</td>
                                <td>
                                    <button th:unless="${#sets.contains(prodottiDisabilitati, prodotto)}" 
                                        type="submit" name="add" th:value="${prodotto.numero}"
                                        class="w3-btn w3-ripple w3-red w3-round">Aggiungi</button>
                                    <span th:if="${#sets.contains(prodottiDisabilitati, prodotto)}">Non disponibile</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
    
            <div class="w3-third" th:insert="fragments/carrello.html :: carrello">
            </div>
        </div>
        <div class="w3-row-padding">
            <div id="conferma">
                <form action="#" th:action="${session.tipoOrdine == 'ORDINAZ_DOMICILIO'} ? @{/ordine-indirizzo} : @{/ordine-dati}" method="GET">
                    <button th:text="${session.tipoOrdine == 'ORDINAZ_DOMICILIO'} ? 'Scegli indirizzo' : 'Dati finali'"
                    class="w3-btn w3-ripple w3-amber w3-xlarge w3-round"></button>
                </form>
            </div>
        </div>
        <div th:insert="fragments/sconti.html :: sconti(hori = true)">
        </div>
    </div>
    <div th:replace="fragments/general.html :: footer"></div> 
</body>
</html>