<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Fortuna: Ordinazione</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Ordinazione</h1>
    <p th:text="'Ordinazione scelta: ' + ${session.tipoOrdine}" />
    <div>
        <h2>Scegli i prodotti:</h2>

        <div id="menu">
            <h1>Menù</h1>
            <form action="#" th:action="@{/ordine-prodotti}" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Nome</th>
                            <th>Prezzo</th>
                            <th>Descrizione</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prodotto : ${menu}">
                            <td th:text="${prodotto.numero}">101</td>
                            <td th:text="${prodotto.nome}">Involtini Primavera</td>
                            <td th:text="${prodotto.prezzo}">1.50</td>
                            <td th:text="${prodotto.desc}">-</td>
                            <td><button type="submit" name="add" th:value="${prodotto.numero}">Aggiungi</button></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="font-size: xx-large">..........</td>
                        </tr>        
                    </tbody>
                </table>
            </form>
        </div>
    
        <div id="carrello">
            <h1>Carrello</h1>
            <form action="#" th:action="@{/ordine-prodotti}" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Prezzo</th>
                            <th>Quatità</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prodotto : ${session.prodotti}">
                            <td th:text="${prodotto.numero}">101</td>
                            <td th:text="${prodotto.nome}">Involtini Primavera</td>
                            <td th:text="${prodotto.prezzo}">1.50</td>
                            <td th:text="${prodotto.desc}">-</td>
                            <td><button type="submit" name="remove" th:value="${prodottoStat.index}">Rimuovi</button></td>
                        </tr>
                        <tr>
                            <td colspan="5">--------</td>
                        </tr>
                        <tr>
                            <td colspan="3">Totale</td>
                            <td colspan="2" th:text="${totale}"></td>
                        </tr>
                    </tbody>
                </table>  
            </form>
        </div>

        <div id="conferma">
            <form action="#" th:action="${session.tipoOrdine == 'domicilio'} ? @{/ordine-indirizzo} : @{/ordine-dati}" method="GET">
                <button th:text="${session.tipoOrdine == 'domicilio'} ? 'Scegli indirizzo' : 'Dati finali'"></button>
            </form>
        </div>
    </div>
</body>
</html>